html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 90%;
    max-width: 30em;
    margin: 0 auto;
}

@font-face {
    font-family: CamptonLight;
    src: url('Assets/Fonts/rene.bieder_campton.light-webfont.ttf');
}

@font-face {
    font-family: CamptonBook;
    src: url('Assets/Fonts/rene.bieder_campton.book-webfont.ttf');
}

@font-face {
    font-family: CamptonMedium;
    src: url('Assets/Fonts/rene.bieder_campton.medium-webfont.ttf');
}

@font-face {
    font-family: CamptonSemiBold;
    src: url('Assets/Fonts/rene.bieder_campton.semibold-webfont.ttf');
}

@font-face {
    font-family: MuseoLight;
    src: url('Assets/Fonts/museo_slab_1-webfont.ttf');
}

@font-face {
    font-family: MuseoMedium;
    src: url('Assets/Fonts/museo_slab-webfont.ttf');
}

body {
    background-color: #ecf0f1;
    color: #2e4259;
}

.header{
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
    font-family: CamptonLight;
    font-weight: 100;
    cursor: default;
}

h1 span {
    font-family: CamptonSemiBold;
}

h2 {
    font-weight: 100;
    font-size: 28px;
    text-align: center;
    font-family: CamptonBook;
    cursor: default;
}

h2 span {
    cursor: pointer;
}

.content {
    margin-top: 20px;
}

p {
    color: #737373;
    font-family: MuseoLight;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.break {
/*    text-align: left;*/
    font-family: CamptonBook;
    position: relative; 
    background-color: #ecf0f1;
    z-index: 1;
    margin-bottom: 20px;
}

.break::before {
    content: "";
    border-top: 2px solid #2e4259;
    opacity: 0.7;
    width: 100%;
    max-width: 30em;
    display: inline-block;
    position: absolute;
    margin-top: 0.5em;
    right: 0;
    z-index: -1;
}

.break span {
    background: #ecf0f1;
    padding: 0 15px;
    cursor: default;
}



.projectPic {
    margin: 0;
    margin-top: 5px;
    position: relative;
/*    padding: 2px;*/
/*    margin-right: 2%;*/
}

.projectPic img {
    width: 98%;
}

.projectPic h3 {
    position: absolute;
    top: 25%;
    left: 8%;
    font-family: CamptonLight;
    font-weight: 100;
    font-size: 30px;
    opacity: 0;
    color: #ecf0f1;
    cursor: pointer;
}

.projectButton/*figcaption::before*/ {
    position: absolute;
    content: '';
    background: #2e4259;
    width: 98%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.projectPic:hover .projectButton/*figcaption::before*/ {
    opacity: 0.7;
    transition: opacity 0.4s ease-in-out;
}

.projectPic:hover h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

/*figure.projectPic figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    content: '';
    opacity: 0;
    transform: translated3d(0, 50%, 0);
}

figure.projectPic h3 {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #484c61;
    transition: transform 0.35s, color 0.35s;
    transform: translated3d(0, -50%, 0);
}

figure.projectPic:hover h3 {
    color: #fff;
    transform: translated3d(0, -50%, 0) translated3d(0,-40px,0);
}

figure.projectPic:hover figcaption::before ,
figure.projectPic:hover p {
    opacity: 1;
    transform: translated3d(0, 0, 0);
}*/


@media only screen 
and (max-width : 500px) {
    
    h2 {
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        font-family: CamptonBook;
        cursor: default;
    }

    .projectPic {
        margin: auto;
        margin-top: 5px;
    }

}